.wrapper {
  background-image: url(../img/odessa.jpg);
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

